
.articles{
    /* display: flex; */
    background-color: #4600a5;
    width: 100%;
    position: absolute; 
    padding-top: 200px;
    align: center;
}


.articleDiv{
    background-color: rgb(106, 108, 119);
    box-shadow: 10px 6px 5px #00d1b2;
    color: white;
    width: 75%;
    margin: 0 14% 40px;
    padding: 1% 5% 3%;
    text-align: left;
    
}
.source{
    font-style: italic;
    margin-top: 15px;
    float: left;
    color: white;
}
.description{}
.articleLink{
    float: right;
    font-weight: bold;
    font-size: 18px;
    color:#0f008c;
}
h1{
    font-size: 25px;
    color: #00d1b2;
}

.latest{
    position: relative;
    
    border-bottom: none;
    /* width: ; */
    top: 150px;
    font-size: 65px;
    z-index: 997;
    /* border-bottom: 5px outset #00d1b2; */
}
hr{
    border: solid grey 1px;
    /* width: 80%; */
}
.title{
    color: #00d1b2;
    border-bottom: 1px solid;
    
}


/* return <div className="articleDiv">
<h1>{news[0].title}</h1>
<span className="source">{news[0].source.name} {news[0].publishedAt}</span>
<p className="description">{news[0].description}</p>
</div>
} */