
.articleDiv{
    position: absolute;
    margin-top: 200px;
    background-color: lightgrey;
    /* width: 50%; */
    padding: 2% 5%;
    text-align: left;
    
}
.source{}
.description{}
.articleLink{
    float: right;
}
h1{
    font-size: 25px;
    color: #00d1b2;
}
hr{
    border: solid grey 1px;
    /* width: 80%; */
}


/* return <div className="articleDiv">
<h1>{news[0].title}</h1>
<span className="source">{news[0].source.name} {news[0].publishedAt}</span>
<p className="description">{news[0].description}</p>
</div>
} */