.contDiv{
    background-color: #1b0574;
    width: 100%;
    height: 110vh;
}

.contContainer{
    position: relative;
    padding: 50px;
    top: 140px;
    display: flex; 
    justify-content: space-around;
    color: #00d1b2;
}

.contIndStyle{
    /* border: solid 1px lightgrey; */
    padding: 50px;
    background-color: #282a36;
    margin: 0 10px;
    opacity: 0;
    font-family: Dosis;
    transform: scaleX(0.9);
}

.contH1{
    text-align: center;
    margin-bottom: 15px;
    color: white;
    font-size: 75px;
    font-weight: bold;
}

.contP{
    font-weight: bold;
}

.contSpan{
    color: white;
    font-family: Lato;
    font-weight: lighter;
}

