
.container{
    position: relative; 
    top: 210px;
    display: flex; 
    justify-content: space-between;
    color: #00d1b2;
}

.indStyle{
    border: solid 1px lightgrey;
    padding: 50px;
    background-color: #282a36;
    margin: 0 10px;
    /* transform: scaleX(0); */
    opacity: 0;
}

h1{
    margin-bottom: 15px;
    color: white;
    font-size: 75px;
}
h2{
    margin-bottom: 15px;
}
span{
    color: white;
}
/* #name1{
    margin-left: -10px;
}
#name2{
    position: relative;
    top:200;
}
#name3{} */
